[user]
	name = Mike Pennisi
	email = mike@mikepennisi.com
[core]
	editor = vim
	excludesfile = ~/.gitignore-global
[rerere]
	enabled = true
[color]
	ui = true
[alias]
	trailing-newlines = !git ls-files | xargs sed -i -e '$a\\'
	list-branch-by-date = !git for-each-ref --sort=committerdate --format='%(committerdate:local) %(objectname:short) %(refname) \t %(subject)' refs/heads/
